@model LoanViewModel

<div class="text-center col-md-6 offset-md-3">
    <h1 class="display-5">Loan Payment Calculator</h1>
    <form asp-action="Index" asp-controller="Loan">
        <div class="mb-3">
            <label class="form-label" asp-for="LoanAmount"></label>
            <div class="input-group">
                <input class="form-control" min="1" max="2147483647" asp-for="LoanAmount" />
                <div class="input-group-append">
                    <span class="input-group-text">SEK</span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="LoanTermInYears"></label>
            <div class="input-group">
                <input class="form-control" min="1" max="99" asp-for="LoanTermInYears" />
                <div class="input-group-append">
                    <span class="input-group-text">years</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</div>

@if (Model != null)
{
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Your monthly payment is @Model.Payments[0].AmountToPay SEK.</h1>

        <table class="table table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Payment</th>
                <th>Interest</th>
                <th>Principal</th>
                <th>Balance</th>
            </tr>
            @foreach (Payment payment in Model.Payments)
            {
                <tr>
                    <td>@payment.Date</td>
                    <td>@payment.AmountToPay SEK</td>
                    <td>@payment.Interest SEK</td>
                    <td>@payment.Principal SEK</td>
                    <td>@payment.AmountLeft SEK</td>
                </tr>
            }
        </table>
    </div>
}